swagger: '2.0'
info:
  description: Mastercard DW EDS Location Intelligence Places API
  version: 1.0.0
  title: Location Intelligence Places
  contact:
    name: Location Intelligence Support
    url: 'http://api.mastercard.com'
    email: location_intelligence_support@mastercard.com
  x-artifactId: location-intelligence-places
host: 'api.mastercard.com'
basePath: /location-intelligence/places-locator
tags:
  - name: Merchant Category Codes
    description: Merchant Category Code Controller
  - name: Merchant Industry Codes
    description: Merchant Industry Code Controller
  - name: Places
    description: Place Controller
paths:
  /merchant-category-codes:
    get:
      tags:
        - Merchant Category Codes
      summary: Get all active merchant category codes
      description: 'Returns a list of Merchant Category Codes ordered by Merchant Category Code or Merchant Category Name, depending on user input. The list will be ordered by Merchant Category Name by default.'
      operationId: getAllMerchantCategoryCodesUsingGet
      produces:
        - application/json
      parameters:
        - name: limit
          in: query
          description: limit
          required: false
          type: integer
          default: 25
          format: int32
        - name: offset
          in: query
          description: offset
          required: false
          type: integer
          default: 0
          format: int32
        - name: sort
          in: query
          description: sort
          required: false
          type: string
          default: +merchantCategoryName
      responses:
        '200':
          description: Successfully retrieved merchant category codes
          schema:
            $ref: '#/definitions/PageResponse'
        '401':
          description: You are not authorized to view the resource
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: Accessing the resource you were trying to reach is forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: Resource not found
          schema:
            $ref: '#/definitions/ErrorResponse'
      deprecated: false
  '/merchant-category-codes/mcc-codes/{mcc_code}':
    get:
      tags:
        - Merchant Category Codes
      summary: Get merchant category code by code
      description: Get merchant category code by code
      operationId: getByMccCodeUsingGET
      produces:
        - application/json
      parameters:
        - name: mcc_code
          in: path
          description: mcc_code
          required: true
          type: string
          x-example: '0004'
      responses:
        '200':
          description: This code represents the category that a merchant location may be under and is supported by most payment providers
          schema:
            $ref: '#/definitions/MerchantCategoryCode'
        '401':
          description: You are not authorized to view the resource
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: Accessing the resource you were trying to reach is forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: Cannot find merchant category code with the provided mcc code
          schema:
            $ref: '#/definitions/ErrorResponse'
      deprecated: false
  /merchant-industry-codes:
    get:
      tags:
        - Merchant Industry Codes
      summary: Get all active merchant industry codes
      description: Returns a list of Merchant Industries ordered by Merchant Industry Codes or Merchant Industry Name depending on user input. The list will be ordered by Merchant Industry Name by default.
      operationId: getAllIndustryCodesUsingGET
      produces:
        - application/json
      parameters:
        - name: limit
          in: query
          description: limit
          required: false
          type: integer
          default: 25
          format: int32
        - name: offset
          in: query
          description: offset
          required: false
          type: integer
          default: 0
          format: int32
        - name: sort
          in: query
          description: sort
          required: false
          type: string
          default: +industryName
      responses:
        '200':
          description: Successfully retrieved merchant industry codes
          schema:
            $ref: '#/definitions/PageResponse'
        '401':
          description: You are not authorized to view the resource
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: Accessing the resource you were trying to reach is forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: Resource not found
          schema:
            $ref: '#/definitions/ErrorResponse'
      deprecated: false
  '/merchant-industry-codes/industries/{industry}':
    get:
      tags:
        - Merchant Industry Codes
      summary: Get merchant industry code details by industry code
      description: Returns Merchant Industry code details by  Industry code
      operationId: getByIndustryUsingGET
      produces:
        - application/json
      parameters:
        - name: industry
          in: path
          description: industry
          required: true
          type: string
          x-example: ACC
      responses:
        '200':
          description: Successfully retrieved merchant industry code details by industry code
          schema:
            $ref: '#/definitions/MerchantIndustryCode'
        '401':
          description: You are not authorized to view the resource
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: Accessing the resource you were trying to reach is forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: 'Cannot find merchant industry code details by industry code '
          schema:
            $ref: '#/definitions/ErrorResponse'
      deprecated: false
  /places/searches:
    post:
      tags:
        - Places
      summary: 'Search for places '
      description: 'Returns detailed information on merchants based on the provided, query parameter'
      operationId: searchPlacesUsingPOST
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: limit
          in: query
          description: limit
          required: false
          type: integer
          default: 25
          format: int32
        - name: offset
          in: query
          description: offset
          required: false
          type: integer
          default: 0
          format: int32
        - in: body
          name: PlaceSearchRequest
          description: PlaceSearchRequest
          required: true
          schema:
            $ref: '#/definitions/PlaceSearchRequest'
      responses:
        '200':
          description: Successfully retrieved search results
          schema:
            $ref: '#/definitions/PageResponse'
        '201':
          description: Created
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: You are not authorized to view the resource
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: Accessing the resource you were trying to reach is forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: Resource not found
          schema:
            $ref: '#/definitions/ErrorResponse'
      deprecated: false
  '/places/{location_id}':
    get:
      tags:
        - Places
      summary: 'Get the location details by using location id '
      description: 'Returns detailed information on merchants based on the provided, query parameter, locationId'
      operationId: getPlaceByLocationIdUsingGET
      produces:
        - application/json
      parameters:
        - name: location_id
          in: path
          description: location_id
          required: true
          type: integer
          format: int64
          x-example: 300945305
      responses:
        '200':
          description: 'Successfully retrieved detailed information on merchants based on the provided path parameter, locationId'
          schema:
            $ref: '#/definitions/PlaceInfo'
        '401':
          description: You are not authorized to view the resource
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: Accessing the resource you were trying to reach is forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: Resource not found
          schema:
            $ref: '#/definitions/ErrorResponse'
      deprecated: false
definitions:
  Error:
    type: object
    required:
      - Description
      - ReasonCode
      - Recoverable
      - Source
    properties:
      Description:
        type: string
      Details:
        type: string
      ReasonCode:
        type: string
      Recoverable:
        type: boolean
      Source:
        type: string
    title: Error
  ErrorResponse:
    type: object
    required:
      - Errors
    properties:
      Errors:
        $ref: '#/definitions/Errors'
    title: ErrorResponse
  Errors:
    type: object
    required:
      - Error
    properties:
      Error:
        type: array
        items:
          $ref: '#/definitions/Error'
    title: Errors
  MerchantCategoryCode:
    type: object
    properties:
      merchantCategoryCode:
        type: string
        example: '0004'
        description: This code represents the category that a merchant location may be under and is supported by most payment providers
      merchantCategoryName:
        type: string
        example: AIR CARRIERS  AIRLINES-NOT ELSEWHERE CLASSIFIED
        description: This is the name of the Merchant Category that accompanies the MCC Code which identifies the category a merchant falls under
    title: MerchantCategoryCode
    description: Merchant Category Code
  MerchantIndustryCode:
    type: object
    properties:
      industry:
        type: string
        example: ACC
        description: This code represents the industry that a merchant location may be under and is supported by most payments providers
      industryName:
        type: string
        example: Accommodations
        description: This is the name of the Industry that accompanies the Industry Code which identifies the industry a merchant falls under
    title: MerchantIndustryCode
    description: Merchant Industry Code
  PageResponse:
    type: object
    properties:
      items:
        type: array
        items:
          type: object
      limit:
        type: integer
        format: int32
      offset:
        type: integer
        format: int32
      total:
        type: integer
        format: int32
    title: PageResponse
  PageResponse<MerchantCategoryCode>:
    type: object
    properties:
      items:
        type: array
        items:
          $ref: '#/definitions/MerchantCategoryCode'
      limit:
        type: integer
        format: int32
      offset:
        type: integer
        format: int32
      total:
        type: integer
        format: int32
    title: PageResponse<MerchantCategoryCode>
  PageResponse<MerchantIndustryCode>:
    type: object
    properties:
      items:
        type: array
        items:
          $ref: '#/definitions/MerchantIndustryCode'
      limit:
        type: integer
        format: int32
      offset:
        type: integer
        format: int32
      total:
        type: integer
        format: int32
    title: PageResponse<MerchantIndustryCode>
  PageResponse<PlaceInfo>:
    type: object
    properties:
      items:
        type: array
        items:
          $ref: '#/definitions/PlaceInfo'
      limit:
        type: integer
        format: int32
      offset:
        type: integer
        format: int32
      total:
        type: integer
        format: int32
    title: PageResponse<PlaceInfo>
  PlaceFilter:
    type: object
    required:
      - countryCode
    properties:
      aggregateMerchantId:
        type: integer
        format: int64
        example: 12077
        description: Filter results by the aggregate merchant ID
      aggregateMerchantName:
        type: string
        example: FAMOUS FOOTWEAR
        description: Filter results by the aggregate merchant name
      cityName:
        type: string
        example: O FALLON
        description: The city for the desired location
      countryCode:
        type: string
        example: US
        description: The country code for the desired location
      dateEstablished:
        type: string
        format: date-time
        example: 10/23/1999
        description: The date of establishment for the desired location
      dmaCode:
        type: string
        example: 609
        description: Filter results by the DMA code
      dunAndBradstreetNumber:
        type: string
        example: 123456789
        description: The Dun and Bradstreet number for the desired location
      geocodeQualityIndicator:
        type: string
        example: STOREFRONT
        description: Utilize to only return businesses with the certain characteristics like a rooftop
      hasCashBack:
        type: boolean
        example: false
        description: Utilize to only return locations that have cash back
      hasNfc:
        type: boolean
        example: true
        description: Utilize to only return locations that support nfc
      hasPayAtThePump:
        type: boolean
        example: false
        description: Utilize to only return locations that have pay at the pump
      industry:
        type: string
        example: SHS
        description: The industry for the desired location
      isInBusiness180Day:
        type: boolean
        example: true
        description: Utilize to only return businesses that have had business the last 180 days
      isInBusiness30Day:
        type: boolean
        example: true
        description: Utilize to only return businesses that have had business the last 30 days
      isInBusiness360Day:
        type: boolean
        example: true
        description: Utilize to only return businesses that have had business the last 360 days
      isInBusiness60Day:
        type: boolean
        example: true
        description: Utilize to only return businesses that have had business the last 60 days
      isInBusiness7Day:
        type: boolean
        example: true
        description: Utilize to only return businesses that have had business the last 7 days
      isInBusiness90Day:
        type: boolean
        example: true
        description: Utilize to only return businesses that have had business the last 90 days
      isNewBusiness:
        type: boolean
        example: false
        description: Utilize to only return new or recently opened businesses
      keyAggregateMerchantId:
        type: integer
        format: int64
        example: 12077
        description: Filter results by the key aggregate merchant ID
      latitude:
        type: string
        example: 38.778083
        description: Utilize to only return businesses at the selected latitude
      legalCorporateName:
        type: string
        example: BROWN SHOE COMPANY INC
        description: The legal corporate name for the desired location
      locationId:
        type: integer
        format: int64
        example: 300945305
        description: Filter results by the Location ID
      longitude:
        type: string
        example: -90.699706
        description: Utilize to only return businesses at the selected longitude
      mccCode:
        type: string
        example: 5661
        description: Filter results by the Merchant Category Code
      merchantName:
        type: string
        example: 'FAMOUSFOOTWEAR#1749'
        description: The merchant name for the desired location
      msaCode:
        type: string
        example: 7040
        description: Filter results by the MSA code
      naicsCode:
        type: string
        example: 448210
        description: Filter results by the NAICS code
      parentAggregateMerchantId:
        type: string
        example: 10000344
        description: Filter results by the parent aggregate merchant ID
      parentAggregateMerchantName:
        type: string
        example: CALERES / BROWN SHOE COMPANY INC
        description: Filter results by the parent aggregate merchant name
      postalCode:
        type: string
        example: 63368
        description: The postal code for the desired location
      primaryChannelOfDistribution:
        type: string
        example: B
        description: 'Utilize to only return businesses that utilize Brick and Mortar or Web as their primary channel. O = Online / Ecommerce, B = Brick & Mortar, N = Non-Store Retail'
      stateProvinceCode:
        type: string
        example: MO
        description: The state for the desired location
      streetAddress:
        type: string
        example: 2254 HWY K
        description: The street address for the desired location
      superIndustry:
        type: string
        example: AAP
        description: The super industry for the desired location
      telephoneNumber:
        type: string
        example: 6362814068
        description: The telephone number for the desired location
    title: PlaceFilter
    description: Place Filter
  PlaceInfo:
    type: object
    required:
      - countryCode
      - locationId
    properties:
      aggregateMerchantId:
        type: integer
        format: int64
        example: 12077
        description: Merchant Aggregate ID groups merchant locations by chain. This is the first level of aggregation
      aggregateMerchantName:
        type: string
        example: FAMOUS FOOTWEAR
        description: The aggregate merchant name of this merchant location
      cityName:
        type: string
        example: O FALLON
        description: The city for the desired location
      cleansedCityName:
        type: string
        example: O FALLON
        description: The cleansed city name is provided by Mastercard matching its transaction data with another Data Partner to ensure standardization
      cleansedCountryCode:
        type: string
        example: US
        description: The cleansed country code is provided by Mastercard matching its transaction data with another Data Partner to ensure standardization
      cleansedLegalCorporateName:
        type: string
        example: BROWN SHOE COMPANY INC
        description: The cleansed legal corporate name is provided by Mastercard matching its transaction data with another Data Partner to ensure standardization
      cleansedMerchantName:
        type: string
        example: 'FAMOUS FOOTWEAR #1749'
        description: The cleansed merchant name is provided by Mastercard matching its transaction data with another Data Partner to ensure standardization
      cleansedPostalCode:
        type: string
        example: 63368-7929
        description: The cleansed postal code is provided by Mastercard matching its transaction data with another Data Partner to ensure standardization
      cleansedStateProvinceCode:
        type: string
        example: MO
        description: The cleansed state is provided by Mastercard matching its transaction data with another Data Partner
      cleansedStreetAddress:
        type: string
        example: 2254 HIGHWAY K
        description: The cleansed street address is provided by Mastercard matching its transaction data with another Data Partner to ensure standardization
      cleansedTelephoneNumber:
        type: string
        example: 6362814068
        description: The cleansed telephone number is provided by Mastercard matching its transaction data with another Data Partner to ensure standardization
      countryCode:
        type: string
        example: US
        description: The country code for the desired location
      dateEstablished:
        type: string
        format: date-time
        example: 10/23/1999
        description: The date of establishment for the desired location
      dmaCode:
        type: string
        example: 609
        description: A Designated Market Area or a DMA is a geographic  area that  represents specific television markets as defined by and updated annually by the Nielsen Company. (US Only)
      geocodeQualityIndicator:
        type: string
        example: STOREFRONT
        description: 'Geocoding quality indicating the specificity of the geo location such as Storefront, Rooftop, Street, Postcode, Admin, Other or None'
      hasCashBack:
        type: boolean
        example: false
        description: Indicates if the merchants provides cash back
      hasNfc:
        type: boolean
        example: true
        description: Indicates if the merchant supports near field communications (nfc)
      hasPayAtThePump:
        type: boolean
        example: false
        description: Indicates if a merchant has pay at the pump
      industry:
        type: string
        example: SHS
        description: The industry for the desired location
      isInBusiness180Day:
        type: boolean
        example: true
        description: Indicates if this location was in business in the last 180 days
      isInBusiness30Day:
        type: boolean
        example: true
        description: Indicates if this location was in business in the last 30 days
      isInBusiness360Day:
        type: boolean
        example: true
        description: Indicates if this location was in business in the last in the last 360 days
      isInBusiness60Day:
        type: boolean
        example: true
        description: Indicates if this location was in business in the last 60 days
      isInBusiness7Day:
        type: boolean
        example: true
        description: Indicates if this location was in business in the last 7 days
      isInBusiness90Day:
        type: boolean
        example: true
        description: Indicates if this location was in business in the last 90 days
      isNewBusiness:
        type: boolean
        example: false
        description: Indicates if new or recently opened businesses
      keyAggregateMerchantId:
        type: integer
        format: int64
        example: 12077
        description: The Mastercard defined key aggregate merchant id joins together different channels of one merchant under the same id
      latitude:
        type: number
        format: double
        example: 38.778083
        description: The latitude geo coordinate position of this merchant location up to 6 decimal precision digits
      legalCorporateName:
        type: string
        example: BROWN SHOE COMPANY INC
        description: The legal corporate name for the desired location
      locationId:
        type: integer
        format: int64
        example: 300945305
        description: The Mastercard assigned location id representing this merchant location
      longitude:
        type: number
        format: double
        example: -90.699706
        description: The longitude geo coordinate position of this merchant location up to 6 decimal precision digits
      mccCode:
        type: string
        example: 5661
        description: The Merchant Category Code for the desired location
      merchantName:
        type: string
        example: 'FAMOUSFOOTWEAR#1749'
        description: The merchant name for the desired location
      msaCode:
        type: string
        example: 7040
        description: The metropolitan statistical area (US only). These codes group merchants into metropolitan area
      naicsCode:
        type: string
        example: 448210
        description: North American Industry Classification System Code
      parentAggregateMerchantId:
        type: string
        example: 10000344
        description: The ID code for the parent aggregate merchant of this merchant location. This helps to further aggregate merchants under one identifier
      parentAggregateMerchantName:
        type: string
        example: CALERES / BROWN SHOE COMPANY INC
        description: The name for the parent aggregate merchant of this merchant location. This helps to further aggregate merchants under one identifier
      postalCode:
        type: string
        example: 63368
        description: The postal code for the desired location
      primaryChannelOfDistribution:
        type: string
        example: B
        description: ' Return businesses that utilize Brick and Mortar or Web as their primary channel. \r\nO = Online - Ecommerce, B = Brick and Mortar, N = Non-Store Retail'
      stateProvinceCode:
        type: string
        example: MO
        description: The state for the desired location
      streetAddress:
        type: string
        example: 2254 HWY K
        description: The street address for the desired location
      superIndustry:
        type: string
        example: AAP
        description: The super industry for the desired location
      telephoneNumber:
        type: string
        description: The telephone number for the desired location
    title: PlaceInfo
    description: Place Info
  PlaceSearchRequest:
    type: object
    properties:
      distance:
        type: integer
        format: int64
        example: 10
        description: Distance measurement for calculating the radius search. Optional The length of distance from the centroid point. Value string(<15). The default will be 3 units
      place:
        description: The merchant name for the desired location
        $ref: '#/definitions/PlaceFilter'
      radiusSearch:
        type: boolean
        example: false
        description: Switches on the radius search algorithm to be performed with places from a given centroid. Value string (true) switches on the radius search algorithm. NOTE - Latitude and Longitude are REQUIRED for radius search algorithm
      unit:
        type: string
        example: MILE
        description: Unit of measurement for calculating the radius search. Optional. Measurement of distance unit in miles or kilometers. Value string (m or km
        enum:
          - MILE
          - KM
    title: PlaceSearchRequest
    description: Place Search Request